<!doctype html>
<html>
<body>

	<!-- show all todos in the database -->
  <div class = "container">
    <h1>All Todos</h1>
    <div class = "row todo_header">
      <div class= "col-xs-2"></div>
      <div class= "col-xs-2">Due Date</div>
      <div class= "col-xs-2">Task</div>
      <div class= "col-xs-1">User</div>
      <div class= "col-xs-1">Complete?</div>
      <div class= "col-xs-1">Task ID</div>
      <div class= "col-xs-1">Edit/Delete</div>
      <div class= "col-xs-2"></div>
    </div>

    <% @todos.each do |todo| %>
    <div class = "row">
      <div class= "col-xs-2"></div>
    	<div class= "col-xs-2"><%=todo.due_date%></div>
    	<div class= "col-xs-2"><%=todo.task%></div>
    	<div class= "col-xs-1"><%=link_to todo.user.name, todo.user%></div>
    	<div class= "col-xs-1"><%=todo.complete%></div>
    	<div class= "col-xs-1"><%=link_to todo.id, todo%></div>
    	<div class= "col-xs-1">
        <%=link_to "edit", controller: "todos", id: todo, action: "edit" %>
    	 <%=link_to "delete", todo, method: "delete" %>
      </div>
      <div class= "col-xs-2"></div>
    </div>
    <% end %>


    <h1>Create New Todo</h1>

    <div class = "row todo_header">
      <div class= "col-xs-2"></div>
      <div class= "col-xs-2">Due Date</div>
      <div class= "col-xs-2">Task</div>
      <div class= "col-xs-1">User ID</div>
      <div class= "col-xs-1"></div>
      <div class= "col-xs-2"></div>
      <div class= "col-xs-1"></div>
    </div>    

    <div class = "row">
      <%= form_for(@todo) do |t| %>
        <div class= "col-xs-2"></div>
        <div class= "col-xs-2"><%= t.date_field :due_date %></div>
        <div class= "col-xs-2"><%= t.text_field :task, label: "Task" %></div>
        <div class= "col-xs-1"><%= t.number_field :user_id, label: "User ID" %></div>
        <div class= "col-xs-1"></div>          
        <div class= "col-xs-2"><%= t.submit "Create", class: "btn" %></div>
        <div class= "col-xs-1"></div>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>


</body>
</html>